Source: openmediavault-locate
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-locate
Architecture: all
Depends: openmediavault (>= 1.18), mlocate
Description: locate plugin for OpenMediaVault.
 Locate file on system using search term.
